.App {
	padding: 30px;
}

.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 600px;
}

.form input,
select,
textarea {
	margin: 10px;
	padding: 10px;
	flex: 3;
	outline: none;
}

.form label {
	flex: 1;
}

.first-name,
.last-name,
.age,
.employed,
.color,
.sauces,
.best-stooge,
.notes {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-top: 10px;
}

.sauces {
	align-items: flex-start;
	padding-right: 340px;
}

.best-stooge {
	align-items: flex-start;
	padding-right: 390px;
}

.btns {
	display: flex;
	align-items: center;
	justify-content: center;
	margin-top: 10px;
}

.submit-btn,
.reset-btn {
	margin: 10px;
	padding: 7px 30px;
	border-radius: 7px;
	border: none;
	cursor: pointer;
	letter-spacing: 0.8px;
}

.submit-btn {
	color: #fff;
	background-color: rgb(55, 65, 118);
}

.submit-btn:hover {
	background-color: rgb(36, 43, 78);
}

.reset-btn {
	background-color: rgb(204, 203, 203);
}

.reset-btn:hover {
	background-color: rgb(173, 172, 172);
}

.reset-btn:disabled {
	background-color: rgb(204, 203, 203);
}

.submit-btn:disabled {
	background-color: rgb(116, 122, 158);
}

.error {
	color: rgb(139, 0, 0);
	background-color: rgb(241, 175, 175);
	width: 370px;
	text-align: left;
	font-size: 13px;
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0, auto;
	text-align: center;
	margin-left: 190px;
}

.error-input {
	border: red 1px solid;
}

.form-values {
	background-color: rgb(201, 201, 201);
	padding: 20px;
	text-align: left;
	border: 3px solid rgb(156, 155, 155);
	width: 550px;
	margin-top: 20px;
}

.form-values > p {
	width: 20px;
}

.form-values pre {
	padding: 20px;
	border-radius: 5px;
	font-size: 14px;
	white-space: pre-wrap;
	line-height: 34px;
}

.color-option {
	color: rgb(72, 41, 4);
}
